.formBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0%;
  padding: 0%;
  min-height: 100%;
  width: 100%;
  font-size: 25px;
  background-color: white;
}

.formBox form {
  width: 95%;
  max-width: 500px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  margin-top: 10px;
}

.formBox .veganInput {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.formBox .veganInput input {
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

/* .addRecipe { 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 600px;
  padding: 20px;

}  */

.formBox input {
  padding: 10px;
  height: 50px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  padding: 10px;
  height: 150px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addRecipeButton {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  font-size: 30px;
}

.backButton {
  padding: 10px 20px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  font-size: 30px;
}

.placeholder {
  font-family: Arial, Helvetica, sans-serif;
}
